<a href="https://colab.research.google.com/github/BeomJinPNU/202006136/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num1_str= int(input("첫 번째 정수를 입력하세요: "))
num2_str= int(input("두 번째 정수를 입력하세요: "))
if num1_str > num2_str:
  print(f"{num1_str}은(는) {num2_str}보다 큽니다.")
elif num1_str < num2_str:
  print(f"{num1_str}은(는) {num2_str}보다 작습니다.")
else:
  print(f"{num1_str}은(는) {num2_str}와 같습니다.")

첫 번째 정수를 입력하세요: 4
두 번째 정수를 입력하세요: 3
4은(는) 3보다 큽니다.

In [4]:
# 문제: 세 수 중 가장 큰 수 찾기
try:
  num1_str = input("첫 번째 정수를 입력하세요: ")
  num1 = int(num1_str)
  print(f"첫 번째 수: {num1}")
  num2_str = input("두 번째 정수를 입력하세요: ")
  num2 = int(num2_str)
  print(f"두 번째 수: {num2}")
  num3_str = input("세 번째 정수를 입력하세요: ")
  num3 = int(num3_str)
  print(f"세 번째 수: {num3}")
  max_num = num1 # 처음에는 num1이 가장 크다고 가정
  if num2 > max_num:
     print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
     max_num = num2
  else:
     print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")
  if num3 > max_num:
     print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
     max_num = num3
  else:
     print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")
  print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

except ValueError:
     print("유효한 정수를 입력해주세요.")

첫 번째 정수를 입력하세요: 1
첫 번째 수: 1
두 번째 정수를 입력하세요: 2
두 번째 수: 2
세 번째 정수를 입력하세요: 3
세 번째 수: 3
두 번째 수 2가 현재 최대값 1보다 큽니다. 최대값을 업데이트합니다.
세 번째 수 3가 현재 최대값 2보다 큽니다. 최대값을 업데이트합니다.

입력하신 세 수 1, 2, 3 중에서 가장 큰 수는 3입니다.

In [13]:
score = int(input("점수를 입력하세요"))
if score > 100 or score < 0:
  print("잘못된 점수입니다")
elif score >= 90:
  print("'A'학점입니다")
elif score >= 80:
  print("'B'학점입니다")
elif score >= 70:
  print("'C'학점입니다")
elif score >= 60:
  print("'D'학점입니다")
else:
  print("'F'학점입니다")

점수를 입력하세요62
'D'학점입니다

In [19]:
# 문제 5: 윤년 판별하기
year_str = input("연도를 입력하세요: ")
try:
  year = int(year_str)
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year}년은 윤년입니다.")
  else:
    print(f"{year}년은 윤년이 아닙니다.")
except ValueError:
  print("유효한 정수를 입력하세요.")

연도를 입력하세요: 2100
2100년은 윤년이 아닙니다.

In [30]:
num = [0,1,2,3,4,5,6]
for i in num[1:6]:
 print("반복!",i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [34]:
num_sum = int(input())
sum = 0
for i in range(1, num_sum+1):
  sum += i
print(sum)

1000
500500

In [35]:
count = 0
print("0부터 9까지 출력:")
while count < 10:
 print(count)
 count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [37]:
print("0부터 9까지 출력")
for i in range(10):
  print(i)

0부터 9까지 출력
0
1
2
3
4
5
6
7
8
9