<a href="https://colab.research.google.com/github/BeomJinPNU/202006136/blob/main/250404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#온도 변환기
kind = input('온도 종류(섭씨 또는 화씨):')
temp = int(input(kind+ ' 온도: '))

if kind == '섭씨':
  print(f'화씨 온도 {temp*9/5+32:0.2f}')
else:
  print(f'섭씨 온도 {(temp-32)*5/9:.2f}')

온도 종류(섭씨 또는 화씨):화씨
화씨 온도: 96
섭씨 온도 35.56

In [11]:
import random
answer = random.randint(1,100)
time = 0

while True:
  user = int(input('1부터 100까지 입력하여 맞추세요'))
  time += 1
  if user == answer:
    break
  elif user < answer:
    print(f'{user}보다 큽니다.')
  else:
    print(f'{user}보다 작습니다.')
print(f'정답입니다. {time}번만에 맞추셨습니다.')

1부터 100까지 입력하여 맞추세요4
4보다 큽니다.
1부터 100까지 입력하여 맞추세요15
15보다 큽니다.
1부터 100까지 입력하여 맞추세요20
20보다 작습니다.
1부터 100까지 입력하여 맞추세요17
정답입니다. 4번만에 맞추셨습니다.

In [12]:
숫자 = [1,2,3,4,5,6]
print(숫자[2])

3

In [13]:
import random
my_list =[]

for i in range(1,7):
  num=random.randint(1,45)
  my_list.append(num)
print(my_list)

[44, 6, 23, 10, 44, 14]

In [15]:
# method / function 메소드와 함수 구별
# 메소드 함수 모두 코드 블록임 => 객체와의 관계에서 차이
# function는 print(), len(), sum()
# method는 문자열 객체의 upper(), append() 처럼 .을 붙이고 뒤에 불러옴

In [21]:
# 학생 성적 평균 계산하기
성적 = [84, 23, 51, 12, 55]
평균 = sum(성적) / len(성적)
print(평균)

45.0

In [23]:
#제어문으로 하기
합계 = 0
성적 = [84, 23, 51, 12, 55]
for i in range(len(성적)):
  합계 += 성적[i]
print(f'{합계/len(성적)}')

#정답
성적 = [84, 23, 51, 12, 55]
총합 = 0
평균 = 0
항목수 = 0
for 항목 in 성적:
  총합 += 항목
  항목수 += 1
평균 = 총합 / 항목수
print(평균)

45.0
45.0

In [26]:
#중복 제거
숫자들 = [1,2,2,3,4,4,5,5,5]
중복제거 = []
for 숫자 in 숫자들:
  if 숫자 in 중복제거:
    continue
  중복제거.append(숫자)
print(중복제거)
#중복 제거 2번째
숫자들 = [1,2,2,3,4,4,5,5,5]
중복제거 = set(숫자들)
print(중복제거)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}